.chessBoardWrapper {
    max-width: 700px;
    border: solid black 10px;
    margin: 20px;
}

.content {
    width: 100%;
    max-width: 1200px;
    background-color: antiquewhite;
}

.mainBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

