.promotionBlock {
    z-index: 100;
    position: absolute;
    background-color: rgb(236, 236, 198);
    width: 50%;
    height: 12.5%;
    display: flex;
}

.pieceImgWrapper {
    width: 25%;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pieceImgWrapper img {
    width: 80%;
    height: 80%;
    max-width: 80px;
    max-height: 80px;
}

.rotate {
    rotate: 180deg;
}