.chessBoard {
    width: 100%;
    max-width: 800px;
    position: relative;
    aspect-ratio: 1/1;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

.square {
    display: inline-block;
    width: 12.5%;
    height: 12.5%;
}

.greenDot {
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
    background: url(/icons/green-dot.png) center;
}

.black {
    background-color: grey;
}

.white {
    background-color: white;
}

.piece {
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece img {
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
}

.rotate {
    rotate: 180deg;
}