.listOfGamesWrapper {
    width: 100%;
}

.listOfGames {
    padding: 30px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.gamePreviewWrapper {
    width: 100%;
    text-align: center;
    box-shadow: gray 3px 3px 10px;
    transition: 0.3s;
}

.gamePreviewWrapper:link,:visited {
    color: black;
    text-decoration: none;
}

.gamePreviewWrapper:hover {
    scale: 1.05;
    box-shadow: rgb(0, 0, 0) 6px 6px 12px;
}

.playersInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.playersInfo p {
    margin: 0;
}

@media screen AND (max-width: 900px) {
    .listOfGames {
        padding: 20px;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media screen AND (max-width: 650px) {
    .listOfGames {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen AND (max-width: 500px) {
    .listOfGames {
        padding: 20px 50px;
        grid-template-columns: 1fr;
    }
}

@media screen AND (max-width: 400px) {
    .listOfGames {
        padding: 20px;
    }
}