body {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
    background: url("background2.jpg") no-repeat center;
    background-size: cover;
}

#root {
    width: 100%;
}

#main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

a.active {
    border-bottom: 1px solid white;
}